---
---

@import "{{ site.theme }}";

#a-title{text-decoration:none;}


header h2{margin:0;color: green;font-size:20px;}
header h3{color: white;font-size:20px;}

p {
  color: white;
  font-size:20px;
}
