---
---

@import "{{ site.theme }}";

#a-title{text-decoration:none;}
header h3:before{content: "root@localhost:~# hostname\A";white-space:pre;}
header h3{margin:0;}

p {
  color: white;
  font-size:20px;
}
header h3{font-size:40px;color: blue;}
