<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>ICS Security</title>
    <meta charset='utf-8'>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url}}">
  </head>
  <body>
    <header>
      <div class="container">
      <a id="a-title" href="{{ '/' | relative_url }}">
        <h2>root@kali:~# hostname</h2>
        <h3>{{ site.title | default: site.github.repository_name }}</h3>
        <div style="text-align: left;">
        <img src="/images/factory75.png"/></div>
      </a>
      </div>
    </header>
    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>
